@model Model.EF.TAGS_COMMUNITY

@{
    ViewBag.Title = "Cập nhập thông tin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Trang chỉnh sửa thông tin tag
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div>
                <label class="text-gray-800">Nhập thông tin tag</label>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Edit", "Tag", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form">
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.IDTagsCommunity)

                                <div class="row">
                                    <div class="col-lg-12 d-flex">
                                        <div class="form-group col-md-3">
                                            @Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-12" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Ten, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group col-md-3">
                                            @Html.LabelFor(model => model.AnHien, htmlAttributes: new { @class = "control-label col-md-12" })
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(model => model.AnHien,
                                                 new List<SelectListItem> {
                                                     new SelectListItem { Value = "true", Text = "Hiển thị" }, new SelectListItem { Value = "false", Text = "Ẩn"
                                                 }
                                                 },
                                                 new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 d-flex">
                                        <div class="form-group col-md-12">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Sửa" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
</div>
